
/.idea
static/
src/face_detector_server/models/__pycache__/
src/face_detector_server/routes/__pycache__/
src/face_detector_server/__pycache__/
src/face_detector_client/GUI/__pycache__/
src/face_detector_client/__pycache__/
__pycache__/
migrations/
venv/
test_images/
